<div class="row col-md-12">
    <div class="col-md-6">
        <div class="titulo">
            <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">OFICINA HIGOR FARIA</h3>
        </div>
        <div class="principal">
            <img class="imagem" src="~/foto-1-e1561482583234.jpg" />
        </div>
    </div>
    <div class="col-md-6 principal">
        <table class="table" style="color:white">
            <tr>
                <th scope="row">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Cadastro">FAZER SEU PEDIDO</a>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Consulta">CONSULTAR SEU PEDIDO</a>
                </th>
            </tr>
        </table>
    </div>
</div>
